.info--plh {
    display: flex;
    flex-direction: column;
    padding: 150px 0;
    align-items: center;
    align-content: center;
    justify-content: center;

    .info--wrap {
        display: flex;
        width: 100%;
        max-width: 900px;
        padding: 80px 0;
        position: relative;

        @include breakpoint(xs) {
            flex-direction: column;
        }

        &::after {
            content: "";
            position: absolute;
            display: block;
            background-color: lightskyblue;
            width: 100%;
            height: 10px;
            z-index: -1;
            left: 0;
            bottom: 0;
            transform: rotate(-2deg);
        }

        &:nth-child(odd) {
            flex-direction: row-reverse;

            @include breakpoint(xs) {
                flex-direction: column;
            }

            &::after {
                content: "";
                position: absolute;
                display: block;
                background-color: lightskyblue;
                width: 100%;
                height: 10px;
                z-index: -1;
                left: 0;
                bottom: 0;
                transform: rotate(2deg);
            }
        }

        .info--image {
            width: 100%;
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: center;

            img {
                width: 70%;
            }
        }

        .info--text {
            width: 100%;
            text-align: left;
            padding-left: 60px;

            @include breakpoint(xs) {
                padding: 0 60px;
                width: unset;
            }

            h2 {
                font-size: 32;
                color: #000;

                @include breakpoint(xs) {
                    font-size: 28px;
                    text-align: center;
                }
            }

            p {
                font-size: 18px;
                color: #000;
                line-height: 27px;
                width: 75%;

                @include breakpoint(xs) {
                    width: unset;
                }
            }
        }
    }
}
